name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: zawye21/api
  IMAGE_TAG: ${{ github.sha }}

jobs:

# -------------------------
# 1️⃣ Static Code Analysis
# -------------------------
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          pip install flake8

      - name: Run Linter
        run: |
          flake8 .

# -------------------------
# 2️⃣ Unit Tests
# -------------------------
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: lint

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run Tests
        run: |
          pytest

# -------------------------
# 3️⃣ Build Docker Image
# -------------------------
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: test

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .

# -------------------------
# 4️⃣ Push Docker Image---
# -------------------------
  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Registry
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Image
        run: |
          docker push $IMAGE_NAME:$IMAGE_TAG

# -------------------------
# 5️⃣ Deploy to Kubernetes---
# -------------------------
  deploy:
    runs-on: ubuntu-latest
    needs: push

    steps:
      - uses: actions/checkout@v3

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Configure Kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Replace Image Tag
        run: |
          sed -i "s/IMAGE_TAG/${IMAGE_TAG}/g" k8s/prod/deployment.yaml

      - name: Deploy
        run: |
          kubectl apply -f k8s/prod/
